* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 95%;
  width: 95%;
}

.container {
  display: flex;
  overflow-x: auto;
  height: 100%;
  width: 100vw;
}

.container::-webkit-scrollbar {
  display: none;
}


section {
  flex-grow: 1;
  min-width: 100%;
  height: 100vh;
  width: 100vw;
}

.first {
  background:url(https://www.mrsfields.com/cdn/shop/files/2022_MFC_Mega_Cookie_Combo1_v2_Web_2250.jpg?v=1689283523&width=1946);
  border: 100px solid #ffd7bc;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#ffb8d4;
  text-align:center;
  font-size: 200px;
  padding-top: 300px;
}

.second {
  background: url(https://images.squarespace-cdn.com/content/v1/55077c4be4b0f11bacb25666/1607128122463-P9PEPH66YSVNKN4SUBE8/TastingBox-INSTA03.jpg?format=1500w);
  border: 100px solid #ffebd3;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#ffb8d4;
  text-align:center;
  font-size:200px;
  padding-top:300px;
}

.third {
  background:url(https://shop.houseofpies.com/cdn/shop/files/MiniPiesAssortment.jpg?v=1696283004);
  border: 100px solid #b9dbe7;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#ffb8d4;
  text-align:center;
  font-size:200px;
  padding-top:300px;
}

.fourth {
  background: url(https://popmenucloud.com/cdn-cgi/image/width%3D1200%2Cheight%3D1200%2Cfit%3Dscale-down%2Cformat%3Dauto%2Cquality%3D60/fcqtnvdk/917eae5c-9c33-480e-826a-cafbc96780cb.jpg);
  border:100px solid #92c3d6;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#ffb8d4;
  text-align:center;
  font-size:200px;
  padding-top:300px;
}


h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffb8d4;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 50px;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  color: rgb(162, 162, 162);
  background-color: rgb(255, 248, 248);
  padding-left: 10px;
  padding-right: 10px;
  align-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

article {
  padding: 20px;
  border: 6px solid #5389ff;
  background: #d3edff;
  border-radius: 30px;
  max-width: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
}

footer{
  padding-top: 150px;
}

/* My Buttons */
.filter-btn{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: none;
  outline: none;
  padding: 20px 16px;
  background-color: white;
  cursor: pointer;
  border: 6px solid #5389ff;
  border-radius: 10px;
}

.filter-btn:hover{
  background-color: #ddd;
}

.filter-btn:active{
  background-color: #666;
   color: #ffb8d4;
}

/* Add padding BETWEEN each column
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 80%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.back-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #ff7eb9;
  border-radius: 5px;
  background-color: #fff;
  color: #ff7eb9;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.back-button:hover {
  background-color: #ff7eb9;
  color: #fff;
}

  .back-button:active {
    transform: scale(0.95);
  }

  .about {
    justify-items: center;
  }

  @media screen and (max-width: 768px) {
    .first,
    .second,
    .third,
    .fourth {
      font-size: 100px;
      padding-top: 150px;
      border-width: 50px;
    }
  }