img {
  padding: 3rem 1rem 1rem;
  background: linear-gradient(to top, hwb(214 0% 0% / 0.95), hwb(235 46% 40% / 0));
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  transform: translateX(0%);
}
  body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    padding: 3rem 3rem 3rem;
    background-color: rgb(216, 221, 226);
    color: rgb(58, 82, 161);
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
  }
  h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(27, 27, 65);
    background-color: aliceblue;
  }
  h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-style: oblique;
    color: rgb(84, 84, 194);
    background-color: aliceblue;
    }
    em{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-transform: uppercase;
      color: rgb(129, 100, 156);
    }
    .neon {
      padding: 0.05rem 0.05rem 0.05rem;
      background-color: rgb(255, 255, 255);
      text-decoration: none;
      color: #5e0283;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
 p{
    background-color: aliceblue;
  }

